#root {
  margin: 0 px;
  padding: 0 px;
}

.footer {
  /* width: rem; */
}

@media screen and (max-width: 568px) {
  .footer {
    width: 30rem;
  }
}
@media screen and (max-width: 568px) {
  .hero {
    width: 30rem;
  }
  .hero-content {
    flex-direction: column;
  }
}
